@import "tailwindcss";

/* === Colores personalizados === */
@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-orange: #E9A23B;
  --color-blue: #3662E3;
  --color-light-blue: #F8FAFC;
  --color-yellow: #F5D565;
  --color-light-yellow: #F5E8D5;
  --color-green: #32D657;
  --color-light-green: #A0ECB1;
  --color-red: #DD524C;
  --color-light-red: #F7D4D3;
  --color-gray-light: #E3E8EF;
  --color-gray-medium: #97A3B6;
  --color-black-transparent: #00000033;
}

/* Dark mode (prefiere esquema oscuro) */
/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

/* Tipografías personalizadas con Tailwind */
@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1.title {
    font-size: 2.5rem; /* 40px */
    font-weight: 400;  /* Regular */
  }

  p.description {
    font-size: 1rem; /* 16px */
    font-weight: 500;
  }

  p.description-light {
    font-size: 1rem; /* 16px */
    font-weight: 300;
  }

  h2.task-title {
    font-size: 1.25rem; /* 20px */
    font-weight: 600;    /* Semibold */
  }

  button.task-button {
    font-size: 1rem; /* 16px */
    font-weight: 600;
  }

  button.button-text {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
  }

  label.input-label {
    font-size: 0.75rem; /* 12px */
    font-weight: 500;
  }
}